div.bloque_fondo{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}
div.bloque_fondo_2{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 60%;
    margin-bottom: 10%;
}
div.bloque_fondo_3{
    margin-top: 5%;
    margin-right: 60%;
    margin-left: 5%;
    margin-bottom: 10%;
}
